.menu-start{
  position: absolute;
  bottom: 0;
  margin-bottom: 31px;
  background-color: #c2c6ca;
  display: flex;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #f5f5f6;
  border-left: 2px solid #f5f5f6;
}

.ver-menu-box{
  width: 200px;
}

.one-option{
  width: 100%;
  font-size: 14px;
  color: #000;
}

.one-option img{
  width: 50px;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
}

.small-icon{

}
