<div class="menu-start">
  <div class="ver-title">
    <img src="../../../../assets/startBarIcons/verBar.png" alt="">
  </div>
  <div class="ver-menu-box">
    <div class="one-option">
      <div class=".container-fluid">
        <div class="row noMarg">

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/myWebsite.png">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Moje strony
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="hor-bar-padd">
            <div class="hor-bar"></div>
          </div>

          <div (click)="showShortBox()" class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/programs.png">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Programy
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/favorite.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Ulubione
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/document.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Dokumenty
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/settings.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Ustawienia
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/find.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Wyszukaj
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/help.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Pomoc
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/aboutMe.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  O mnie
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/run.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Uruchom...
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="hor-bar-padd">
            <div class="hor-bar"></div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/logout.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Zaloguj się...
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 noPadd one-option-sel">
            <div class="row noMarg">
              <div class="col-3 noPadd">
                <div class="one-option-icon">
                  <img src="../../../../assets/startBarIcons/shutDown.png" alt="">
                </div>
              </div>
              <div class="col-6 noPadd">
                <div class="one-option-text">
                  Wyłącz...
                </div>
              </div>
              <div class="col-3 noPadd">
                <div class="one-small-icon">
                  <img src="../../../../assets/startBarIcons/data.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ver-select-box">
  <app-menu-option-box *ngIf="showApp"></app-menu-option-box>
</div>

