<div class=".container-fluid option-pos">
  <div class="options-box">
    <div class="row noMarg">

      <div class="col-12 one-bar">
        <div class="row noMarg">
          <div class="col-2 noPadd option-icon">
            <img src="../../../../../assets/startBarIcons/programs.png" alt="">
          </div>
          <div class="col-8 noPadd option-text">
            Parametry silnika
          </div>
          <div class="col-2 noPadd option-char">
            <b>></b>
          </div>
        </div>
      </div>

      <div class="col-12 one-bar">
        <div class="row noMarg">
          <div class="col-2 noPadd option-icon">
            <img src="../../../../../assets/startBarIcons/programs.png" alt="">
          </div>
          <div class="col-8 noPadd option-text">
            Parametry silnika
          </div>
          <div class="col-2 noPadd option-char">
            <b>></b>
          </div>
        </div>
      </div>

      <div class="col-12 one-bar">
        <div class="row noMarg">
          <div class="col-2 noPadd option-icon">
            <img src="../../../../../assets/startBarIcons/programs.png" alt="">
          </div>
          <div class="col-8 noPadd option-text">
            Parametry silnika
          </div>
          <div class="col-2 noPadd option-char">
            <b>></b>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
