
<app-menu-start *ngIf="isVisible"></app-menu-start>
<div class="start-bar">
  <div class="start-button">
    <button (click)="switchVis()" type="button"><img width="20" src="../../../assets/startBarIcons/windows98.png" alt="">Start</button>
  </div>

  <div class="ver-line"></div>
  <div class="ver-short-line"></div>

  <div class="one-small-icon">
    <img width="20" src="../../../assets/startBarIcons/notepad.png" alt="">
  </div>
  <div class="one-small-icon">
    <img width="20" src="../../../assets/startBarIcons/data.png" alt="">
  </div>
  <div class="one-small-icon">
    <img width="20" src="../../../assets/startBarIcons/image.png" alt="">
  </div>

  <div class="ver-line"></div>
  <div class="ver-short-line"></div>
</div>
